body {
    background: #D1EBED;
}

#header {
    width: 1280px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #F2F2F2;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#bunga {
    opacity: 0.5;
    width: 400px;
    height: 400px;
}
#nama {
    position: absolute;
    font-family: Playfair Display;
    font-variant: small-caps;
    line-height: 100%;
    font-size: 120px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #575757;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.navbar > a {
    margin: 0px 20px;
    font-family: Playfair Display;
    font-variant: small-caps;
    line-height: 100%;
    font-size: 16px;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #575757;
    z-index: 2;
}
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
.left {
  left: 0;
  background-color: #D1EBED;
}
  
  /* Control the right side */
.right {
  right: 0;
  background-color: #F2F2F2;
}

 /* Control the right side */
.right2 {
  right: 0;
  background-color: #D1EBED;
}

  /* Center the content horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
  /* Style the image inside the centered container */
.centered img {
  width: 240px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  object-fit: contain;
  margin-bottom: 25px;
  margin-top: 60px;
}

  #about {
    font-family: Playfair Display;
    line-height: 120%;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    width: 520px;
    height: 150px;
    font-weight: bold;
    color: #707070;
  }
  .titleleft {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-family: Playfair Display;
    line-height: 120%;
    font-size: 120px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #575757;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-variant: small-caps;
  }
  .titleright{
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-family: Playfair Display;
    line-height: 120%;
    font-size: 110px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #575757;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-variant: small-caps;
  }

.position{
    font-family: Playfair Display;
    line-height: 120%;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    width: 520px;
    font-weight: bold;
    color: #575757;
    margin-top: 45px;
    margin-bottom: 5px;
}
.explanation{
  font-family: Playfair Display;
  line-height: 120%;
  font-size: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  width: 520px;
}
#year {
  position: absolute;
  font-family: Playfair Display;
  line-height: 120%;
  font-size: 130px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #575757;
  opacity: 0.2;
  margin-left: 120px;
}
.position2{
  font-family: Playfair Display;
  line-height: 120%;
  font-size: 22px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  width: 520px;
  font-weight: bold;
  color: #575757;
  margin-top: 45px;
  margin-bottom: 5px;
}
.explanation2{
  font-family: Playfair Display;
  line-height: 120%;
  font-size: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  width: 520px;
}
#rose {
  position: absolute;
  opacity: 0.05;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  height: 500px;
  width: 400px;
}
.sosmed{
  font-family: Playfair Display;
  line-height: 150%;
  font-size: 22px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  width: 520px;
  font-weight: bold;
  color: #575757;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 150px;
}
.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sosmedimg{
  opacity: 0.1;
  width: 100px;
  height: 100px;
  object-fit: contain;
  position: absolute;
}

#email{
  left: 205px;
  top: 25px;
  width: 110px;
  height: 110px;
}
#wa{
  left: 210px;
  top: 215px;
}
#ig{
  right: 210px;
  top: 30px;
}
#linked{
  right: 210px;
  top: 210px;
}

#cr{
  position: absolute;
  z-index: 3;
  left: 425px;
  top: 520px;

  font-family: Playfair Display;
  font-size: 18px;
  letter-spacing: 0.1em;
}

#footer{
  position: absolute;
  width: 1280px;
  height: 150px;
  left: 0px;
  bottom: 0px;
  background: #F2F2F2;
  z-index: 2;
}
